#item-container {
    margin: auto;
    margin-top: 20px;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banner-text {
    text-align: center;
    height: 50px;
    width: 100%;
    color: #fff;
    background: #000;
    padding-top: 15px;
}